* {
  margin: auto;
  padding: 0;
}
.intro {
  margin-block: 30vh;
  text-align: center;
}
.heading {
  font-size: 12vw;
}
.box {
  width: 70vw;
  height: 80vh;
  border-radius: 12px;
  border: 2px solid royalblue;
  background-color: royalblue;
  display: flex;
  margin-bottom: 10vh;
}
.top {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  height: 20%;
}
.left {
  width: 50%;
  height: 100%;
  background-color: white;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.right {
  color: white;
  width: 50%;
  height: 100%;
  background-color: royalblue;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.bottom {
  height: 80%;
}
.bottom ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 1vw;
  padding: 0;
}
